<div class="card" style="width: 18rem;">
  <%= image_tag 'candle_backdrop', class: "card-img-top"%>
  <div class="card-body">
    <h5 class="card-title"><%= candle.name %></h5>
    <p class="card-text"><%= candle.description %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>